.Main-container {
  background-color: #263238;
  width: 500px;
  height: 500px;
  box-sizing: border-box;
  position: relative;
}

.Icon-color {
  color: #ffeb3b;
}

.margin {
  margin: 3px;
}

.collection-item-color {
  color: black;
}
